<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sample Site</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <style>
        body { padding-top:50px; padding-left:50px; padding-right:50px}
    </style>
    <script>
            function loadedPage(){
            //document.getElementById("temperature").innerHTML =localStorage.getItem('temperature');
            //document.getElementById("height").innerHTML = localStorage.getItem('height');
            console.log("load");
            timedRefresh(500);
        }
    
        function timedRefresh(timeoutPeriod) {
            setTimeout("location.reload(true);",timeoutPeriod);
        }
        </script>
</head>
<body onload="loadedPage()">
    
    <div class="container">
        <div class="jumbotron">
            <p id="info">
                Temperature is :
                <span>{{temperature}} </span>
                <br>Height is: 
                <span>{{height}} </span>
                
              </p>
        </div>
    </div>

</body>
</html>